numpy>=1.14.0
pandas>=0.23.4
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
tensorflow-cpu==1.15.0
keras==2.3.1
Flask>=1.1.2
mtcnn>=0.1.0
lightgbm>=2.3.1
h5py==2.10.0
faiss-cpu==1.7.0
gunicorn
opencv-python-headless
opencv-contrib-python-headless
