<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FR from Camera</title>
    <link href="static/css/RecFromCamera.css" rel="stylesheet">
    <script type="text/javascript" src="static/css/jquery-3.6.0.js"></script>
</head>
<body>
<div  id="home" style="font-size:20px; color: blue;margin-left: 40px; margin-top:30px"><a href="{{url_for('dashboard')}}">FR Home</a></div>
<div class="title">Face Recognition from Camera</div>
<div class="container">
    <form action="{{url_for('recognizefromcamera')}}" method="POST" enctype="multipart/form-data">
    <div class="inside">
    <div class="image">
    <video autoplay="true" id="video"></video>
    <img id="unknown_image" name="unknown_image"></img>
    </div>
    <button id="capture-btn" name="capture-btn" value="Capture">Capture</button>
    <input type="button" class="run" name="info-submit" value="Run Image on Model" id="info-submit"/>
    <div style="margin-left:210px; margin-top:25px; color: green"><h3>---------Face Recognition Result---------</h3></div>
        <div style="margin-left:130px; margin-top:15px"><h4>Person Recognized as: <label id="label" style="font-size:18px; color: green"></label></h4></div>
        <div style="margin-left:130px; margin-top:15px"><h4>Distance: <label id="dist" style="font-size:18px; color: green;"></label></h4></div>
    <br>
    </div>
    </form>
</div>
<script src="{{url_for('static', filename='js/live.js')}}"></script>
</body>
</html>